html, body{
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#store-name{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.banner{
    background: url(https://picsum.photos/1000/1000?random);
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    color: white;
    font-size: 30px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.main-container{
    margin-left: 5%;
    text-align: center;
    display: block;
}
#item-layout{
    width: 70%;
    margin: 0 auto;
}
.item-prices{
    text-align: left;
}
.items{
    width: 300px;
    float: left;
    padding: 1rem;
}
#customer-info-wrapper{
    float: none;
    display: block;
    height: 500px;
    width: 500px;
    text-align: center;
}
#radio-buttons{
    text-align: left;
    padding-left: 40%;
}
#footer{
    display: block;
    position: absolute;
    margin-left: 29%;
    margin-top: 30%;
    height: 500px;
    width: 500px;
}